@model FirstResponsiveModel
@{
    ViewBag.Title = "First Responsive Web App Burgett";
}

<div class="container">
    <header class="jumbotron">
        <h1 class="mt-3">@ViewBag.Title</h1>
    </header>
    <main>
        <form asp-action="Index" method="post" class="form-horizontal">
            <div class="row">
                <label asp-for="YearOfBirth"
                       class="control-label col-sm-3">
                    Year of Birth:
                </label>
                <input asp-for="YearOfBirth"
                       class="form-control col-sm-3" />
                <span asp-validation-for="YearOfBirth"
                      class="text-danger col"></span>
            </div>
            <div class="row">
                <label asp-for="name"
                       class="control-label col-sm-3">
                    Name:
                </label>
                <input asp-for="name"
                       class="form-control col-sm-3" />
                <span asp-validation-for="name"
                      class="text-danger col"></span>
            </div>
            <div class="row">
                <label class="control-label col-sm-3">The Name You Entered:</label>
                <input value="@ViewBag.Name" readonly
                       class="form-control col-sm-3" />
            </div>
            <div class="row">
                <label class="control-label col-sm-3">Age this Year:</label>
                <input value="@ViewBag.AgeToday" readonly
                       class="form-control col-sm-3" />
            </div>
            <div class="row">
                <div class="col offset-sm-3 pl-0">
                    <button type="submit"
                            class="btn btn-primary">
                        Calculate
                    </button>
                    <a asp-action="Index"
                       class="btn btn-outline-secondary">Clear</a>
                </div>
            </div>
        </form>
    </main>
</div>

